#unifi-poller
POLLER_TAG={{ metrics_poller_tag_unencrypted }}
POLLER_DEBUG={{ metrics_poller_debug_unencrypted }}
POLLER_SAVE_DPI={{ metrics_poller_save_dpi_unencrypted }}
UNIFI_USER={{ metrics_unifi_user }}
UNIFI_PASS={{ metrics_unifi_pass }}
UNIFI_URL={{ metrics_unifi_url_unencrypted }}
