services:
  tsdproxy:
    image: almeidapaulopt/tsdproxy:2
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - datadir:/data
      - ${CONFIG:-./config}:/config
    restart: unless-stopped
    ports:
      - "8080"

volumes:
  datadir:
