# ---------------------------------------------------------------------------
# This template contains only required options.
# Visit the docs to find more https://docs.tandoor.dev/system/configuration/
# ---------------------------------------------------------------------------

# random secret key, use for example `base64 /dev/urandom | head -c50` to generate one
SECRET_KEY={{ tandoor.secret_key }}

# allowed hosts (see documentation), should be set to your hostname(s) but might be * (default) for some proxies/providers
# ALLOWED_HOSTS=recipes.mydomain.com

# add only a database password if you want to run with the default postgres, otherwise change settings accordingly
DB_ENGINE={{ tandoor.db_engine_unencrypted }}
POSTGRES_HOST={{ tandoor.postgres_host_unencrypted }}
POSTGRES_DB={{ tandoor.postgres_db_unencrypted }}
POSTGRES_PORT={{ tandoor.postgres_port_unencrypted }}
POSTGRES_USER={{ tandoor.postgres_user_unencrypted }}
POSTGRES_PASSWORD={{ tandoor.postgres_password }}

# OIDC
SOCIAL_PROVIDERS={{ tandoor.social_providers_unencrypted }}
SOCIALACCOUNT_PROVIDERS={{ tandoor.socialaccount_providers }}

# DEBUG=1
