name: Container Builder

env: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  discover:
    runs-on: ubuntu-latest
    name: Discover Changes

    outputs:
      changed_images: ${{ steps.changed_images.outputs.images }}
      changed: ${{ steps.changed_images.outputs.changed }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: "recursive"

      - name: Get Changed Files
        id: changed_files
        # pinning out of paranoia, this is the modern-node fork of jitterbit/get-changed-files
        uses: masesgroup/retrieve-changed-files@491e80760c0e28d36ca6240a27b1ccb8e1402c13 # v3.0.0

      - name: Find image directories
        id: images
        shell: bash
        run: |
          set -x
          declare -a images
          declare -a images_list

          for image in $(find ./ -maxdepth 2 -name Dockerfile\* | cut -d "/" -f2 | sort -u); do
            images+=("${image}");
            images_list+=("\"${image}\",");
          done

          json_list=$(echo ${images_list[@]} | rev | cut -c 2- | rev)

          echo "Found images: ${images[@]}"
          echo "Found images (JSON): [${json_list}]"
          echo "images=${images[@]}" >> "$GITHUB_OUTPUT"
          echo "images_list=[${json_list}]" >> "$GITHUB_OUTPUT"

      - name: Get changed images
        id: changed_images
        shell: bash
        run: |
          set -x
          declare -a changed_images
          for image in ${{ steps.images.outputs.images }}; do
            if [[ "${{ steps.changed_files.outputs.all }}" =~ $image || "${{ steps.changed_files.outputs.all }}" =~ ".github/workflows/container-build" ]]; then
               if [[ ! "${changed_images[@]}" =~ $image ]]; then
                  changed_images+=("\"${image}\",");
               fi
            fi
          done

          changed=$(echo ${changed_images[@]} | rev | cut -c 2- | rev)

          if [[ -n ${changed} ]]; then
            echo "Changed add-ons: $changed";
            echo "changed=true" >> $GITHUB_OUTPUT
            echo "images=[$changed]" >> $GITHUB_OUTPUT
          else
            echo "No add-on had any monitored files changed (${{ env.MONITORED_FILES }})";
          fi

  build:
    needs: discover
    runs-on: ubuntu-latest
    if: needs.discover.outputs.changed == 'true'
    name: Build ${{ matrix.image }} for ${{ matrix.arch }}
    strategy:
      matrix:
        image: ${{ fromJson(needs.discover.outputs.changed_images) }}
        arch: ["aarch64", "amd64"]

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Skip the build on the platform if `.skip-${{ matrix.arch }}` exists in ${{ matrix.image }}
        id: skip_check
        run: |
          if test -f "./${{ matrix.image }}/.skip-${{ matrix.arch }}"; then
            echo DO_NOT_BUILD=true >> "$GITHUB_OUTPUT"
          fi
      # - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        if: steps.skip_check.outputs.DO_NOT_BUILD != 'true'
      - name: Log in to the Github Container registry
        if: steps.skip_check.outputs.DO_NOT_BUILD != 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        if: steps.skip_check.outputs.DO_NOT_BUILD != 'true'
        id: meta
        with:
          images: ghcr.io/offbyone/${{ matrix.image }}
          flavor: |
            latest=auto
          tags: |
            type=edge,branch=main
            type=pep440,pattern={{raw}}
            type=pep440,pattern=v{{major}}.{{minor}}
            type=ref,event=pr

      - name: Build and push by digest
        if: steps.skip_check.outputs.DO_NOT_BUILD != 'true'
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./${{ matrix.image }}
          platforms: linux/${{ matrix.arch }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=ghcr.io/offbyone/${{ matrix.image }},push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        if: steps.skip_check.outputs.DO_NOT_BUILD != 'true'
        run: |
          mkdir -p /tmp/digests-${{ matrix.image }}
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests-${{ matrix.image }}/${digest#sha256:}"

      - name: Upload digest
        if: steps.skip_check.outputs.DO_NOT_BUILD != 'true'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: digests-${{ matrix.image }}-${{ matrix.arch }}
          path: /tmp/digests-${{ matrix.image }}/*
          if-no-files-found: error
          retention-days: 1

  check:
    runs-on: ubuntu-latest
    name: Check builds
    needs:
      - build
    steps:
      - name: no-op
        run: exit 0

  merge:
    runs-on: ubuntu-latest
    name: Merge the builds for ${{ matrix.image }}
    needs:
      - build
      - discover
    if: github.event_name != 'pull_request'
    strategy:
      matrix:
        image: ${{ fromJson(needs.discover.outputs.changed_images) }}

    steps:
      - name: Download digests
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: digests-${{ matrix.image }}-*
          path: /tmp/digests-download

      - name: Prepare digests
        run: |
          mkdir -p /tmp/digests-${{ matrix.image }}
          find /tmp/digests-download -type f -name "*" -not -path "*/\.*" -exec cp {} /tmp/digests-${{ matrix.image }}/ \;
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ghcr.io/offbyone/${{ matrix.image }}
      - name: Log in to the Github Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create manifest list and push
        working-directory: /tmp/digests-${{ matrix.image }}
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'ghcr.io/offbyone/${{ matrix.image }}@sha256:%s ' *)
      - name: Inspect image
        run: |
          docker buildx imagetools inspect ghcr.io/offbyone/${{ matrix.image }}:${{ steps.meta.outputs.version }}
